<div class="container">
    <div class="row">
        <!-- Informacion de contacto -->
        <div id="personalInfo" class="bg-light col-lg-3 col-md-4 col-sm-12 col-12">
            <!-- imagen de perfil -->
            <img class="rounded-circle mt-3" id="imagenDePerfil"
                src="https://image.shutterstock.com/shutterstock/photos/709771327/display_1500/stock-vector-default-avatar-profile-icon-grey-photo-placeholder-illustrations-vectors-709771327.jpg"
                alt="">

            <!-- nombre -->
            <h2 class="mt-2">Sergi Boquera Fuentes</h2>
            <!-- informacion de contacto -->
            <hr>
            <h6 id="informacionDeContactoTitulo">Informacion de contacto</h6>
            <div id="informacionDeContacto" class="text-left">
                <br><i class="bi bi-telephone">+34 635961390</i>
                <br><i class="bi bi-envelope"> sergibofu@gmail.com</i>
                <br><i class="bi bi-geo-alt-fill">av pau picasso 52 3º 4a</i>
            </div>

            <!-- Quien soy-->
            <hr>
            <h6 id="quienSoyTitulo">Sobre mi</h6><br>
            <div id="quienSoy" class="text-center">
                Soy un programador junior con muchas ganas de aprender y desarrollarma
                en el entorno de la programacion web.
            </div>

            <!-- Frameworks y herramientas -->
            <hr>
            <h6 id="frameworksYHerramientasTitulo">Frameworks y herramientas</h6><br>
            <div id="frameworksYHerramientas" class="text-left">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Angular
                        <span class="badge badge-primary badge-pill bg-dark">9</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Laravel
                        <span class="badge badge-primary badge-pill bg-dark">8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Bootstrap
                        <span class="badge badge-primary badge-pill bg-dark">7</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Node
                        <span class="badge badge-primary badge-pill bg-dark">8</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        git
                        <span class="badge badge-primary badge-pill bg-dark">6</span>
                    </li>
                </ul>
            </div>



        </div>
        <div id="main" class="text-center col-lg-9 col-md-8 col-sm-12 col-12">
            <br>
            <!-- Experiencia profesional -->
            <h4 class="mt-3" id="experienciaLaboralTitle">Experiencia Profesional</h4>
            <div class="mt-3" id="experienciaLaboral">
                <!-- Gebr Zinnbauer -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="zinnbauerLabel">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#zinnbauerBody" aria-expanded="false" aria-controls="zinnbauerBody">
                            Gebr Zinnbauer
                        </button>
                    </h2>
                    <div id="zinnbauerBody" class="accordion-collapse collapse" aria-labelledby="zinnbauerLabel"
                        data-bs-parent="#experienciaLaboral">
                        <div class="accordion-body">
                            <p>dd-mm-aaaa - dd-mm-aaaa</p>
                            <p>Control y manejo del inventario utilizando bases de datos relacionales</p>
                        </div>
                    </div>
                </div>

                <!-- ByDemes -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="byDemesLabel">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#byDemesBody" aria-expanded="false" aria-controls="byDemesBody">
                            ByDemes
                        </button>
                    </h2>
                    <div id="byDemesBody" class="accordion-collapse collapse" aria-labelledby="byDemesLabel"
                        data-bs-parent="#experienciaLaboral">
                        <div class="accordion-body">
                            <p>dd-mm-aaaa - dd-mm-aaaa</p>
                            <p>Montaje e instalacion de alarmas y sistemas de seguridad</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h4 class="mt-3" id="estudiosTitle">Estudios</h4>
            <div class="mt-3"id="estudios">
                <!-- ESO -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="ESOLabel">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#ESOBody" aria-expanded="false" aria-controls="ESOBody">
                            Educacion Secundaria Obligatoria
                        </button>
                    </h2>
                    <div id="ESOBody" class="accordion-collapse collapse" aria-labelledby="ESOLabel"
                        data-bs-parent="#estudios">
                        <div class="accordion-body">
                            <p>dd-mm-aaaa - dd-mm-aaaa</p>
                            <p>IES Joan Miro</p>
                        </div>
                    </div>
                </div>

                <!-- CFGM-->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="CFGMlabel">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#CFGM" aria-expanded="false" aria-controls="CFGM">
                            CFGM Instalaciones de telecomunicaciones
                        </button>
                    </h2>
                    <div id="CFGM" class="accordion-collapse collapse" aria-labelledby="CFGMlabel"
                        data-bs-parent="#experienciaLaboral">
                        <div class="accordion-body">
                            <p>dd-mm-aaaa - dd-mm-aaaa</p>
                            <p>INS Camps Blancs</p>
                        </div>
                    </div>
                </div>

                <!-- CFGS -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="CFGSlabel">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#CFGS" aria-expanded="false" aria-controls="CFGS">
                            CFGS Mantenimiento electronico
                        </button>
                    </h2>
                    <div id="CFGS" class="accordion-collapse collapse" aria-labelledby="CFGSlabel"
                        data-bs-parent="#experienciaLaboral">
                        <div class="accordion-body">
                            <p>dd-mm-aaaa - dd-mm-aaaa</p>
                            <p>Escola del treball</p>
                        </div>
                    </div>
                </div>

                <!-- CFGS -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="CPlabel">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#CProgramacionWeb" aria-expanded="false" aria-controls="CProgramacionWeb">
                            Certificado Profesionalidad Programacion web
                        </button>
                    </h2>
                    <div id="CProgramacionWeb" class="accordion-collapse collapse" aria-labelledby="CPlabel"
                        data-bs-parent="#experienciaLaboral">
                        <div class="accordion-body">
                            <p>dd-mm-aaaa - dd-mm-aaaa</p>
                            <p>Nascor</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>