<div class="container">
    <div class="row">
        <!-- Informacion de contacto -->
        <div id="personalInfo" class="bg-light col-lg-3 col-md-4 col-sm-12 col-12">
            <!-- imagen de perfil -->
            <img class="rounded-circle mt-3" id="imagenDePerfil"
                src="https://image.shutterstock.com/shutterstock/photos/709771327/display_1500/stock-vector-default-avatar-profile-icon-grey-photo-placeholder-illustrations-vectors-709771327.jpg"
                alt="">

            <!-- nombre -->
            <h2 class="mt-2">Sergi Boquera Fuentes</h2>
            <!-- informacion de contacto -->
            <hr>
            <h6 id="informacionDeContactoTitulo">Informacion de contacto</h6>
            <div id="informacionDeContacto" class="text-left">
                <br><i class="bi bi-telephone">+34 635961390</i>
                <br><i class="bi bi-envelope"> sergibofu@gmail.com</i>
                <br><i class="bi bi-geo-alt-fill">av pau picasso 52 3º 4a</i>
            </div>

            <!-- aptitudes y habilidades-->
            <hr>
            <h6 id="aptitudesYHabilidadesTitulo">Aptitudes y habilidades</h6>
            <div id="aptitudesYHabilidades" class="text-left">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Angular
                      <span class="badge badge-primary badge-pill">9</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Laravel
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Morbi leo risus
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                  </ul>
            </div>




        </div>
        <div id="main" class="col-lg-9 col-md-8 col-sm-12 col-12">

        </div>

    </div>
</div>