.card:hover{
    box-shadow: 8px 8px 8px grey;
    transform:scale(1.01);
}

.card{
    margin: auto;
    max-width: 230px;
    min-width: 200px;
    width: 100%;
    width: 100%;
}

img{
    height: 300px;
    overflow: hidden;
}

.card-title{
    text-align: center;
    height: 3rem;
}
