<div class="container">
    <div class="row mt-3">
        <div  (click)="getAnimeDetails(myAnime.id)" class="col-lg-3 col-md-4 col-sm-6 mt-3" *ngFor="let anime of topAnimes">
            <div class="card width: auto" #myAnime id="{{anime.mal_id}} ">
                <img class="card-img-top" src="{{anime.image_url}}" alt="">
                <h5 class="card-title">{{anime.title}}</h5>
            </div>
        </div>
    </div>


    <nav aria-label="Page navigation">
        <ul class="pagination">
          <li *ngIf="prevActive" class="page-item"><a class="page-link" [routerLink]="['/manga' , page - 1]">Previous</a></li>
          <li  [ngClass]="{'active': page == 1}" class="page-item"><a class="page-link" [routerLink]="['/manga', 1]">1</a></li>
          <li [ngClass]="{'active': page == 2}" class="page-item"><a class="page-link" [routerLink]="['/manga', 2]">2</a></li>
          <li [ngClass]="{'active': page == 3}" class="page-item"><a class="page-link" [routerLink]="['/manga', 3]">3</a></li>

          <li  *ngIf="firstActive" class="page-item"><a class="page-link" [routerLink]="['/manga', page-1]">{{page-1}}</a></li>
          <li [ngClass]="'active'" *ngIf="middleActive" class="page-item"><a class="page-link" [routerLink]="['/manga', page]">{{page}}</a></li>
          <li *ngIf="lastActive" class="page-item"><a class="page-link" [routerLink]="['/manga', page+1]">{{page+1}}</a></li>
            
          <li [ngClass]="{'active': page == 18}" class="page-item"><a class="page-link" [routerLink]="['/manga', 18]">18</a></li>
          <li [ngClass]="{'active': page == 19}" class="page-item"><a class="page-link" [routerLink]="['/manga', 19]">19</a></li>
          <li [ngClass]="{'active': page == 20}" class="page-item"><a class="page-link" [routerLink]="['/manga', 20]">20</a></li>
          <li *ngIf="nextActive" class="page-item"><a class="page-link" [routerLink]="['/manga' , page + 1]">Next</a></li>
        </ul>

      </nav>
</div>
