<div class="container-fluid text-center">
    <h2 class="mx-auto">{{mangaDetails.title}}</h2>  
    <div class="row">
        <div class="col col-12 col-lg-3 col-md-12 col-sm-12"><img class="rounded" src="{{mangaDetails.image_url}}" alt=""></div>
        <div class="col col-12 col-lg-9 col-md-12 col-sm-12">{{mangaDetails.synopsis}}</div>
    </div>

    <!-- <div class="d-grid gap-2 mt-5">

        <div class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#listOfVolumes"
            aria-expanded="false" aria-controls="collapse">
            Episodes
        </div>
    </div>
    <div class="collapse" id="listOfVolumes">
        <table class="table table-hover mt-5">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Published</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let episode of episodesList.episodes">
                    <th scope="row">{{episode.episode_id}}</th>
                    <td>{{episode.title}}</td>
                    <td>{{episode.aired}}</td>
                </tr>
            </tbody>
        </table>
    </div> -->

</div>